## MELCHIZEDEK ACKAH-BLAY
### 06-17-2024
### DECISION TREE PORTION OF PROJECT

#####

##### load modules

In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#####

##### load dataset

In [57]:
data = pd.read_csv(r"/Users/melki/Desktop/SalesForCourse_quizz_table.csv")
data.head(5)

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0,02/19/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,NaN
1,1,02/20/16,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,NaN
2,2,02/27/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,NaN
3,3,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,NaN
4,4,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,NaN

#####

##### find number of columns

In [58]:
data.columns

Index(['index', 'Date', 'Year', 'Month', 'Customer Age', 'Customer Gender',
       'Country', 'State', 'Product Category', 'Sub Category', 'Quantity',
       'Unit Cost', 'Unit Price', 'Cost', 'Revenue', 'Column1'],
      dtype='object')

#####

##### dropping columns I do not need

In [60]:
data.drop(columns = ['Column1', 'Date'], inplace = True)

##### renaming columns for ease of use

In [63]:
data.rename(columns = {'Customer Age':'Customer_Age', 'Product Category':'Product_Category', 'Sub Category':'Sub_Category', 'Unit Cost':'Unit_Cost', 'Unit Price':'Unit_Price'}, inplace = True)

In [64]:
data.head(5)

,index,Year,Month,Customer_Age,Customer Gender,Country,State,Product_Category,Sub_Category,Quantity,Unit_Cost,Unit_Price,Cost,Revenue
0,0,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0
1,1,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0
2,2,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0
3,3,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0
4,4,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0

In [65]:
data.rename(columns = {'Customer_Age':'Age', 'Customer Gender':'Gender'}, inplace = True)
data.head(5)

,index,Year,Month,Age,Gender,Country,State,Product_Category,Sub_Category,Quantity,Unit_Cost,Unit_Price,Cost,Revenue
0,0,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0
1,1,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0
2,2,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0
3,3,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0
4,4,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0

#####

##### Since my project is based on looking at patterns in youth spending, I will remove data about anybody over 25

In [67]:
data = data[data['Age'] <= 25]
data

,index,Year,Month,Age,Gender,Country,State,Product_Category,Sub_Category,Quantity,Unit_Cost,Unit_Price,Cost,Revenue
47,47,2015.0,July,18.0,F,United States,California,Accessories,Bike Stands,1.0,636.0,677.000000,636.0,677.0
48,48,2015.0,October,18.0,F,United States,California,Accessories,Bike Stands,3.0,159.0,170.666667,477.0,512.0
49,49,2016.0,June,18.0,M,United States,California,Bikes,Mountain Bikes,1.0,769.0,875.000000,769.0,875.0
50,50,2015.0,August,18.0,M,United States,California,Bikes,Mountain Bikes,1.0,2295.0,2242.000000,2295.0,2242.0
51,51,2015.0,September,18.0,M,United States,California,Bikes,Mountain Bikes,1.0,769.0,776.000000,769.0,776.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34785,34785,2015.0,December,22.0,F,Germany,Nordrhein-Westfalen,Accessories,Tires and Tubes,3.0,40.0,50.333333,120.0,151.0
34786,34786,2016.0,May,22.0,M,United Kingdom,England,Bikes,Touring Bikes,2.0,1192.0,1287.500000,2384.0,2575.0
34787,34787,2015.0,July,22.0,M,United Kingdom,England,Bikes,Touring Bikes,1.0,742.0,608.000000,742.0,608.0
34788,34788,2015.0,October,22.0,M,United Kingdom,England,Bikes,Touring Bikes,2.0,607.5,559.000000,1215.0,1118.0
34789,34789,2015.0,October,22.0,M,United Kingdom,England,Bikes,Touring Bikes,2.0,371.0,361.000000,742.0,722.0

In [69]:
data.shape

(6076, 14)

In [73]:
data.drop(columns = ['index'], inplace = True)

##### taking care of null values

In [74]:
data.isna().sum()

Year                0
Month               0
Age                 0
Gender              0
Country             0
State               0
Product_Category    0
Sub_Category        0
Quantity            0
Unit_Cost           0
Unit_Price          0
Cost                0
Revenue             0
dtype: int64

##### *no null values, proceed to next step*

#####

##### creating my X (independent) and y (dependent) variables

In [75]:
X = data.drop(columns = 'Product_Category')
y = data['Product_Category']

#####

##### time to transform the X columns because they are categorical

In [76]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

##### creating new variables for the encoded X columns

In [77]:
X['Year'] = label_encoder.fit_transform(X['Year'])
X['Month'] = label_encoder.fit_transform(X['Month'])
X['Gender'] = label_encoder.fit_transform(X['Gender'])
X['Country'] = label_encoder.fit_transform(X['Country'])
X['State'] = label_encoder.fit_transform(X['State'])
X['Sub_Category'] = label_encoder.fit_transform(X['Sub_Category'])

#####

##### look at the encoded dataset

In [78]:
X

,Year,Month,Age,Gender,Country,State,Sub_Category,Quantity,Unit_Cost,Unit_Price,Cost,Revenue
47,0,5,18.0,0,3,3,1,1.0,636.0,677.000000,636.0,677.0
48,0,10,18.0,0,3,3,1,3.0,159.0,170.666667,477.0,512.0
49,1,6,18.0,1,3,3,10,1.0,769.0,875.000000,769.0,875.0
50,0,1,18.0,1,3,3,10,1.0,2295.0,2242.000000,2295.0,2242.0
51,0,11,18.0,1,3,3,10,1.0,769.0,776.000000,769.0,776.0
...,...,...,...,...,...,...,...,...,...,...,...,...
34785,0,2,22.0,0,1,18,14,3.0,40.0,50.333333,120.0,151.0
34786,1,8,22.0,1,2,5,15,2.0,1192.0,1287.500000,2384.0,2575.0
34787,0,5,22.0,1,2,5,15,1.0,742.0,608.000000,742.0,608.0
34788,0,10,22.0,1,2,5,15,2.0,607.5,559.000000,1215.0,1118.0
34789,0,10,22.0,1,2,5,15,2.0,371.0,361.000000,742.0,722.0

##### time to split the data into training and testing sets

In [80]:
from sklearn import model_selection
trainer = model_selection.train_test_split
X_train, X_test, y_train, y_test = trainer(X, y, test_size = 0.3, random_state = 66)

##### creating the decision tree model

In [81]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

##### training the data and finding the R-Squared

In [82]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [83]:
model.score(X_train, y_train)

1.0

#####

In [85]:
predictions = model.predict(X_test)

In [86]:
from sklearn import metrics
scorer = metrics.accuracy_score
accuracy = scorer(y_test, predictions)
print(f'the accuracy of the model is {accuracy}')

the accuracy of the model is 1.0

##### R-Squred though promising, could mean that the model has memorized the data
##### Given that we have a fairly small sample, focusing on subset of our data under 25, that could result in that

#####

In [91]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.tree import DecisionTreeClassifier

model2 = tree.DecisionTreeClassifier()

# Initialize StratifiedKFold cross-validation with 5 folds
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

# Perform cross-validation
cv_scores = cross_val_score(model, X, y, cv=skf, scoring='accuracy')

# Print accuracy scores for each fold
print("Cross-Validation Accuracy scores:", cv_scores)

# Calculate average accuracy across all folds
avg_accuracy = cv_scores.mean()
print("Average Accuracy:", avg_accuracy)

Cross-Validation Accuracy scores: [1. 1. 1. 1. 1.]
Average Accuracy: 1.0

#### Achieving perfect accuracy in cross-validation suggests that the model performs well with the data it has seen. However, it's crucial to verify this performance with new data to confirm that it isn't influenced by issues like data leakage, overfitting, or having a dataset that's too uniform.

#